header {
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* logo */
header > .logo__container > .img {
  width: 32px;
}
header > .logo__container > .logo__text {
  font-size: 20px;
  margin-left: 10px;
  font-weight: 700;
  font-family: Poppins;
}

/* menu */
header > .menu__Container > ul {
  display: flex;
  gap: 20px;
}
header > .menu__Container > ul li {
  list-style: none;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px;
}
header > .menu__Container .drop__down > p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  column-gap: 3px;
}

header > .menu__Container > ul ul {
  display: none;
}
header > .menu__Container > ul li > a {
  cursor: pointer;
  text-decoration: none;
  color: var(--black);
  font-size: 16px;
}

